.l-subhdr {
  width: 100%;
  padding: 60px 0 15px 0;
}

.l-subhdr-logo {
  float: left;
  width: 50%;
  a {
    display: block;
  }
}

.l-subhdr-contacts-m {
  float: left;
  width: 50%;
  text-align: right;
}

.l-subhdr-contacts-phone {
  display: block;
  font-size: 17px;
  color: #583843;
  line-height: 1;
}

.l-subhdr-contacts-link {
  display: block;
  font-size: 13px;
  color: #2b7bce;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  .icon {
    vertical-align: middle;
    margin-right: 5px;
  }

  &:not(:first-child):not(:last-child) {
    padding: 2px 0;
  }
}