/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.icon-arrow-dropdown {
  background-image: url(../i/sprite.png);
  background-position: -20px -53px;
  width: 18px;
  height: 15px; }

.icon-burger {
  background-image: url(../i/sprite.png);
  background-position: -67px -53px;
  width: 12px;
  height: 10px; }

.icon-cart {
  background-image: url(../i/sprite.png);
  background-position: 0px -53px;
  width: 20px;
  height: 18px; }

.icon-email {
  background-image: url(../i/sprite.png);
  background-position: -51px -53px;
  width: 16px;
  height: 11px; }

.icon-li-bullet, .l-navbar-menu li a:before {
  background-image: url(../i/sprite.png);
  background-position: -79px -53px;
  width: 6px;
  height: 6px; }

.icon-logo {
  background-image: url(../i/sprite.png);
  background-position: 0px 0px;
  width: 140px;
  height: 53px; }

.icon-magnifier {
  background-image: url(../i/sprite.png);
  background-position: -38px -53px;
  width: 13px;
  height: 14px; }

.icon-menu-arrow {
  background-image: url(../i/sprite.png);
  background-position: 0px -71px;
  width: 14px;
  height: 19px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  height: 100%; }

body {
  font: normal 16px/1.4 Arial, Open Sans, sans-serif;
  position: relative; }

* {
  box-sizing: border-box;
  outline: none; }

.wrapper {
  width: 100%;
  margin: auto;
  padding: 0 15px; }

.icon {
  display: inline-block; }

a {
  text-decoration: none; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.truncate {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.hidden {
  display: none; }

@media screen and (min-width: 769px) {
  .wrapper {
    max-width: 940px;
    margin: auto;
    padding: 0; } }

.c-btn {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 15px;
  color: #fff;
  text-decoration: none; }

.c-btn__green {
  background-color: #569800;
  background: -webkit-linear-gradient(top, #6cae16, #408200);
  background: -moz-linear-gradient(top, #6cae16, #408200);
  background: -ms-linear-gradient(top, #6cae16, #408200); }
  .c-btn__green.active {
    background-image: none;
    background-color: #569800;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(66, 57, 46, 0.4);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(66, 57, 46, 0.4);
    box-shadow: inset 0px 1px 1px 0px rgba(66, 57, 46, 0.4); }

.c-pill-container {
  border-radius: 3px; }

.l-header {
  width: 100%;
  position: fixed;
  z-index: 50; }

.l-navbar {
  width: 100%;
  height: 40px;
  background-color: #2b2723; }
  .l-navbar .wrapper {
    padding: 0; }

.c-menu-btn {
  height: 40px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding: 10px 0 15px 10px; }

.l-navbar-menu {
  background-color: #2b2723;
  display: none;
  z-index: 50; }
  .l-navbar-menu.active {
    display: block; }
  .l-navbar-menu ul {
    vertical-align: middle; }
  .l-navbar-menu li a {
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding-left: 20px;
    vertical-align: middle;
    position: relative;
    line-height: 40px; }
    .l-navbar-menu li a:before {
      content: '';
      position: absolute;
      top: 17px;
      left: 3px; }

.l-navbar-auth {
  height: 40px;
  float: right;
  position: relative; }

.l-navbar-auth-login,
.l-navbar-auth-cart {
  display: inline-block; }

.l-navbar-auth-login {
  height: 40px;
  line-height: 40px;
  margin-right: 145px; }
  .l-navbar-auth-login a {
    font-size: 15px;
    color: #ffe328;
    padding: 15px 20px;
    vertical-align: middle; }

.l-navbar-auth-cart {
  height: 50px;
  position: absolute;
  top: 0;
  right: 10px;
  background-color: #443a2f;
  border-radius: 0 0 5px 5px; }
  .l-navbar-auth-cart a {
    display: block;
    font-size: 13px;
    color: #fff;
    vertical-align: top;
    padding: 10px 10px 20px 10px; }
  .l-navbar-auth-cart span {
    display: inline-block;
    vertical-align: sub;
    margin-right: 10px; }

.l-subhdr {
  width: 100%;
  padding: 60px 0 15px 0; }

.l-subhdr-logo {
  float: left;
  width: 50%; }
  .l-subhdr-logo a {
    display: block; }

.l-subhdr-contacts-m {
  float: left;
  width: 50%;
  text-align: right; }

.l-subhdr-contacts-phone {
  display: block;
  font-size: 17px;
  color: #583843;
  line-height: 1; }

.l-subhdr-contacts-link {
  display: block;
  font-size: 13px;
  color: #2b7bce;
  text-decoration: underline; }
  .l-subhdr-contacts-link:hover {
    text-decoration: none;
    cursor: pointer; }
  .l-subhdr-contacts-link .icon {
    vertical-align: middle;
    margin-right: 5px; }
  .l-subhdr-contacts-link:not(:first-child):not(:last-child) {
    padding: 2px 0; }

.l-catalogue {
  width: 100%;
  padding: 10px 0;
  background-color: #ece7d7; }

.l-catalogue-search {
  width: 100%;
  line-height: 35px;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(66, 57, 46, 0.4);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(66, 57, 46, 0.4);
  box-shadow: inset 0px 1px 1px 0px rgba(66, 57, 46, 0.4); }
  .l-catalogue-search .icon {
    position: absolute;
    top: 12px;
    left: 8px; }
  .l-catalogue-search input {
    display: inline-block;
    width: 100%;
    border: none;
    font-size: 15px;
    color: #867e6d; }

.l-catalogue-search-field {
  margin-right: 65px;
  padding: 0 5px 0 28px; }

.l-catalogue-search-btn {
  width: 65px;
  display: inline-block;
  float: right; }
  .l-catalogue-search-btn .c-btn {
    border-radius: 0 3px 3px 0; }

.l-catalogue-menu {
  width: 100%;
  position: relative;
  margin-top: 10px; }

.l-catalogue-menu-btn {
  width: 100%;
  line-height: 35px; }
  .l-catalogue-menu-btn .c-btn {
    border-radius: 3px;
    text-align: left;
    padding-left: 15px; }
  .l-catalogue-menu-btn .c-btn.active {
    border-radius: 3px 3px 0 0; }
  .l-catalogue-menu-btn .icon {
    position: absolute;
    top: 8px;
    right: 8px; }

.l-catalogue-menu-items {
  width: 100%;
  background-color: #42392e;
  border-radius: 0 0 3px 3px;
  display: none; }
  .l-catalogue-menu-items.active {
    display: block; }

.l-catalogue-menu-item {
  width: 100%;
  background-color: #42392e;
  border-bottom: 1px solid #554d43;
  position: relative; }
  .l-catalogue-menu-item:last-child {
    border-radius: 0 0 3px 3px; }
  .l-catalogue-menu-item a {
    display: block;
    width: 100%;
    line-height: 40px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 15px; }
  .l-catalogue-menu-item .icon {
    position: absolute;
    top: 10px;
    right: 10px; }
