body, html {
  height: 100%;
}

body {
  font: normal 16px/1.4 Arial, Open Sans, sans-serif;
  position: relative;
}

* {
  box-sizing: border-box;
  outline: none;
}

.wrapper {
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.icon {
  display: inline-block;
}

a {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 

.clearfix:after {
  clear: both;
}

.truncate {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}

@media screen and (min-width: 769px) {
  .wrapper {
    max-width: 940px;
    margin: auto;
    padding: 0;
  }
}